pkgbase = android-camera-recorder
	pkgdesc = Android camera recorder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-camera-recorder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-recorder
	depends = libcrash-bash
	depends = record-tools
	source = android-camera-recorder-ebce1ccc46266fcf6a59df0bbe4d9e07d7205816.zip::https://github.com/themartiancompany/android-camera-recorder/archive/ebce1ccc46266fcf6a59df0bbe4d9e07d7205816.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 75ba82cc0719382ad7b42d83dcd6be816ae0ae69295e1a32efd504fd8a5b0acf

pkgname = android-camera-recorder
